@charset "UTF-8";
:root {
  --font-family: "Golos Text", sans-serif;
  --second-family: "Golos Text", sans-serif;
  --white: #fff;
  --black-text: #434242;
  --grey-text: #5e5e5e;
  --black: #161a1d;
  --hover-menu: #868686;
  --yellow: #fed337;
  --yellow2: #ffc800;
  --yellow3: #d3ae5d;
  --yellow4: #bc9d2e;
  --bg: #f0f0f0;
  --bg-2: #1c1c1c;
  --bg-3: #e5e5e5;
  --line: #dddddd;
  --grey-text: #606060;
  --grey-text2: #adadad;
  --black-text: #282828;
  --swiper-theme-color: #fed337;
  --swiper-pagination-bullet-inactive-color: #dddddd;
  --swiper-navigation-size: 20px;
  --swiper-navigation-sides-offset: 120px;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-size: 12px;
  --darkblue-06: rgba(19, 23, 48, 0.6);
}

/* golos-text-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/golos-text-v4-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* golos-text-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/golos-text-v4-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* golos-text-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/golos-text-v4-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* golos-text-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/golos-text-v4-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* golos-text-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/golos-text-v4-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* golos-text-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/golos-text-v4-cyrillic_latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  scrollbar-gutter: stable;
}

html *,
html *::before,
html *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  position: relative;
  overflow-x: hidden;
  background-color: var(--bg);
  font-style: normal;
  line-height: 1.3;
  max-width: 100%;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-text);
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

input,
textarea,
a,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
}

address {
  font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

[class*=copyrights-pane] {
  display: none !important;
}

[data-simplebar] {
  max-width: 100%; /* Задает максимальную ширину для скроллируемой области */
  overflow-x: auto; /* Разрешает горизонтальный скролл */
}

.simplebar-scrollbar::before {
  background-color: var(--yellow);
}

.to-right {
  margin-right: 0;
  margin-left: auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.overflow-hidden {
  max-width: 100%;
  overflow-x: hidden;
}

.hero {
  background-color: var(--black);
  color: var(--white);
  position: relative;
  height: 100vh;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: var(--white);
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 100%, 0 100%);
  z-index: 1;
}
.hero .wrapper {
  position: relative;
  z-index: 2;
}

.button {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  background-color: transparent;
  padding: 10px 32px;
  height: 60px;
  font-family: var(--font-family);
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 700;
  font-size: inherit;
  letter-spacing: 0.14em;
  color: var(--black-text);
}
.button span {
  position: relative;
  z-index: 2;
}
.button svg {
  pointer-events: none;
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  pointer-events: none;
  z-index: 0;
  background-color: var(--yellow);
  -webkit-transform: scale(1);
          transform: scale(1);
}
.button * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (hover: hover) {
  .button:hover::before, .button:active::before, .button:focus::before {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
}
@media (max-width: 1023px) {
  .button {
    padding: 10px 28px;
  }
}
@media (max-width: 767px) {
  .button {
    padding: 10px 20px;
  }
}

.button--secondary {
  color: var(--black-text);
}
.button--secondary::before {
  background-color: transparent;
  border: 1px solid var(--black-text);
}

.button--round::before {
  border-radius: 500px;
}

.button--icon {
  padding: 6px 10px;
  padding-right: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: auto 1fr;
}
@media (max-width: 1023px) {
  .button--icon {
    padding-right: 28px;
  }
}
@media (max-width: 767px) {
  .button--icon {
    padding-right: 20px;
  }
}

.button__round {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: var(--black-text);
  color: var(--yellow);
  position: relative;
  pointer-events: none;
}

.button--cube {
  padding: 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  max-width: initial;
  border: none;
}

.button--search {
  padding: 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  max-width: initial;
  border-radius: 50%;
  color: var(--black-text);
}
.button--search::before {
  border-radius: 50%;
}
.button--search svg {
  width: 23px;
  height: 23px;
  position: relative;
}

.button--center {
  margin: 0 auto;
}

.icon {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: var(--black-text);
  color: var(--yellow);
  position: relative;
  pointer-events: none;
}
.icon svg {
  display: block;
  width: 18px;
  height: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
}

.title {
  margin-top: 0;
  font-style: normal;
  font-family: var(--font-family);
  position: relative;
  font-weight: 600;
  font-size: 55px;
  line-height: 1;
  color: var(--black-text);
}
.title + * {
  margin-top: 40px;
}
@media (max-width: 1023px) {
  .title {
    font-size: 45px;
  }
  .title + * {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 35px;
  }
}

.wrapper {
  max-width: 1520px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 40px;
}
@media (max-width: 1023px) {
  .wrapper {
    max-width: 100%;
    padding-inline: 20px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding-inline: 10px;
  }
}

.main-nav__header {
  display: none;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, auto);
}
.main-nav__item {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.main-nav__item:after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--yellow);
  opacity: 0;
  -webkit-transition: width 0.3s, opacity 0.3s;
  transition: width 0.3s, opacity 0.3s;
}
.main-nav__link {
  padding: 16px 2px;
  display: block;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.main-nav__link:has(svg) {
  display: grid;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.main-nav__link svg {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 10px;
  height: 6px;
  display: block;
}
.main-nav__sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  width: 295px;
  background-color: var(--white);
  color: var(--grey-text);
  border-radius: 0 0 30px 0;
  overflow: hidden;
  border: 1px solid var(--line);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main-nav__sub-link {
  font-weight: 400;
  font-size: 14px;
  color: inherit;
  padding: 12px 25px;
  display: block;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.main-nav__sub-link:hover {
  background-color: var(--bg);
  color: var(--black);
}
.main-nav__sub-item:not(:last-of-type) .main-nav__sub-link {
  border-bottom: 1px solid var(--line);
}
@media (min-width: 1381px) {
  .main-nav__item:hover:after {
    opacity: 1;
    width: 100%;
  }
  .main-nav__item:hover .main-nav__link {
    color: var(--yellow);
  }
  .main-nav__item:hover .main-nav__link svg {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .main-nav__item:hover .main-nav__sub-list {
    top: 100%;
    opacity: 1;
    pointer-events: initial;
    visibility: initial;
  }
}
.main-nav__button {
  display: none;
}
@media (max-width: 1380px) {
  .main-nav {
    padding: 0;
  }
  .main-nav__header {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr auto;
    padding: 10px 25px;
    padding-right: 0;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav__title {
    margin: 0;
    font-weight: 600;
    font-size: 35px;
  }
  .main-nav__close {
    border: none;
    background-color: transparent;
    width: 62px;
    height: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    cursor: pointer;
  }
  .main-nav__list {
    grid-template-columns: 1fr;
    gap: 0;
    z-index: 1;
    position: relative;
  }
  .main-nav__sub-list {
    display: none;
    position: initial;
    pointer-events: initial;
    visibility: initial;
    opacity: 1;
    border: none;
    border-radius: initial;
    max-width: 100%;
    width: 100%;
  }
  .main-nav__sub-link {
    border-bottom: none !important;
    border-top: 1px solid #ddd;
    font-weight: 500;
    font-size: 14px;
    color: var(--black-text);
    min-height: 60px;
    padding: 0;
    padding-left: 50px;
    padding-right: 25px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav__sub-link:after {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background-color: var(--yellow);
    position: absolute;
    left: 25px;
    top: calc(50% - 1px);
  }
  .main-nav__item {
    max-width: 100%;
    width: 100%;
    border-top: 1px solid #ddd;
  }
  .main-nav__item.isActive .main-nav__link {
    background: #f0f0f0;
  }
  .main-nav__item.isActive .main-nav__sub-list {
    display: block;
  }
  .main-nav__link {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--black-text);
    padding: 0;
    height: 60px;
    width: 100%;
    max-width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 25px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .main-nav__link svg {
    display: none;
  }
  .main-nav__link:has(button) {
    padding-right: 0;
  }
  .main-nav__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 62px;
    margin-top: -2px;
    margin-bottom: -2px;
    height: 62px;
    border: 1px solid #ddd;
    background-color: transparent;
    color: var(--black-text);
    z-index: 2;
    padding: 0;
  }
  .main-nav__button svg {
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 18px;
    height: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .main-nav__button.isActive svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.link {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--yellow);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.link:hover {
  color: var(--yellow4);
}

.search {
  position: relative;
}
.search__form {
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  border-radius: 60px;
  background-color: var(--yellow);
  z-index: 2;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.search__form input {
  height: 45px;
  width: 100%;
  max-width: 100%;
  border-radius: 60px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--grey-text);
  padding: 10px 35px;
  border: none;
  outline: none;
}
.search__form .button::before {
  background-color: transparent;
}
.search__grid {
  display: grid;
  gap: 12;
  grid-template-columns: 1fr 45px;
}

.social__list {
  display: grid;
  gap: 15px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  grid-template-columns: repeat(3, auto);
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #545454;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.social__link:hover {
  color: #FED337;
}
.social__link--vkontakte:hover {
  color: #3F79EA;
}
.social__link--telegram:hover {
  color: #3FB7EA;
}
.social__link--viber:hover {
  color: #4C5EFF;
}
.social__link svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  pointer-events: none;
}

.button-menu {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: transparent;
  border: none;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-menu span,
.button-menu span::after,
.button-menu span::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 4px;
  background-color: #ffffff;
}

.button-menu span::after,
.button-menu span::before {
  content: "";
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-menu span::before {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.button-menu span::after {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.logotype__text {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item-tag {
  position: relative;
}
.item-tag__header {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--black-text);
  border-radius: 100px 100px 100px 0;
  width: 100%;
  height: 70px;
  width: 100%;
  padding: 0 23px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item-tag__name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: var(--black-text);
  display: block;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item-tag__icon {
  position: relative;
  z-index: 2;
  color: var(--black-text);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item-tag__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  z-index: 0;
}
.item-tag:hover .item-tag__header, .item-tag:active .item-tag__header, .item-tag:focus .item-tag__header {
  border: 1px solid transparent;
}
.item-tag:hover .item-tag__image, .item-tag:active .item-tag__image, .item-tag:focus .item-tag__image {
  opacity: 1;
}
.item-tag:hover .item-tag__name, .item-tag:active .item-tag__name, .item-tag:focus .item-tag__name {
  color: var(--white);
}
.item-tag:hover .item-tag__icon, .item-tag:active .item-tag__icon, .item-tag:focus .item-tag__icon {
  color: var(--white);
}

.figure {
  position: absolute;
  display: block;
  width: 855px;
  height: 1088px;
  top: 0px;
  right: 10%;
  background-image: url("../svg/hero-home-bg.svg");
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 0;
  pointer-events: none;
}
.figure--mod {
  opacity: 0.1;
}

.preview-card {
  background-color: #fff;
  color: var(--black-text);
  border-radius: 30px 0 0 0;
  margin-top: 170px;
  padding: 35px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.preview-card__photo {
  display: block;
  position: relative;
  margin-top: -170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 300px;
}
.preview-card__photo img {
  display: block;
  margin-top: auto;
}
.preview-card__labels-list {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 10px;
}
.preview-card__label {
  border-radius: 20px 30px 30px 0;
  background: var(--black-text);
  color: var(--white);
  height: 35px;
  display: grid;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  grid-template-columns: auto 1fr;
  padding: 0 16px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.preview-card__name {
  display: block;
  margin: 0;
  line-height: 1.1;
  font-weight: 600;
  font-size: 30px;
}
.preview-card__subtitle {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 6px;
  display: block;
  font-weight: 500;
  font-size: 20px;
}
.preview-card__text {
  color: var(--grey-text);
  font-size: 14px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.preview-card__list {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--grey-text);
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.preview-card__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.preview-card__list b {
  display: block;
  margin-bottom: 6px;
}
.preview-card__list li {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.preview-card .button {
  margin-top: auto;
  max-width: 100%;
}

.form--mod {
  background-color: #2f2f2f;
  border-radius: 30px 0 0 0;
  padding: 37px 47px 43px;
}
.form__title {
  display: block;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 30px;
}
.form__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.form__grid--mod {
  grid-template-columns: repeat(1, 1fr);
}
.form__item {
  grid-column: span 1;
}
.form__item input,
.form__item textarea {
  max-width: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 20px 0;
  height: 60px;
  font-weight: 400;
  font-size: 13px;
  line-height: 157%;
  color: #fff;
  outline: none;
}
.form__item--two {
  grid-column: span 2;
}
.form__element {
  border-bottom: 1px solid var(--white);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form ::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 157%;
  color: #939393;
}
.form ::-moz-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 157%;
  color: #939393;
}
.form :-ms-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 157%;
  color: #939393;
}
.form ::-ms-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 157%;
  color: #939393;
}
.form ::placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 157%;
  color: #939393;
}
.form__button {
  max-width: 100%;
  width: 100%;
  margin-bottom: 28px;
}
.form__agree {
  display: grid;
  gap: 30px;
  grid-template-columns: auto 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.form__agree label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #9d9d9d;
}

.swiper-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.swiper-button:hover, .swiper-button:active, .swiper-button:focus {
  scale: 1.1;
  background-color: var(--yellow);
}
.swiper-button--mod {
  background-color: var(--bg);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--black-text);
  font-weight: 700;
}

.review-card {
  background-color: #fff;
  padding: 55px 65px;
  border-radius: 30px 0 0 0;
}
.review-card__grid {
  display: grid;
  gap: 60px;
  grid-template-columns: 3fr 2fr;
}
.review-card__logo {
  display: block;
  margin-bottom: 45px;
}
.review-card__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--grey-text);
  margin-bottom: 16px;
}
.partner-card__logo {
  display: block;
  margin: auto;
}
.transform {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}
.transform__content {
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: transparent;
  -webkit-transition: background-color 0.3s, color 0.3s, padding 0.3s;
  transition: background-color 0.3s, color 0.3s, padding 0.3s;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--white);
}
.header__grid {
  display: grid;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 405px 1fr auto auto;
}
.header__navigation {
  color: inherit;
}
.header__logo {
  color: var(--white);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  display: grid;
  gap: 24px;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo a {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: block;
}
.header__logo svg {
  display: block;
  width: 167px;
  height: 42px;
}
.header__logo span {
  font-size: 12px;
  color: var(--grey-text2);
  display: block;
}
.header__button-menu {
  display: none;
}
.header__mobile-contacts {
  display: none;
}
.header__social {
  display: none;
}
@media (max-width: 1380px) {
  .header__callback {
    display: none;
  }
  .header__social {
    margin-left: auto;
    display: block;
  }
  .header__button-menu {
    display: block;
  }
  .header .button--search {
    color: var(--white);
  }
  .header .button--search::before {
    display: none;
  }
  .header__navigation {
    position: absolute;
    /* display: none; */
    width: 100vw;
    height: 100vh;
    background: var(--white);
    color: var(--black);
    top: 0;
    left: -100vw;
    display: block;
    z-index: 10;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y: auto;
  }
  .header__mobile-contacts {
    display: block;
    padding: 25px 25px 40px;
  }
  .header__mobile-contacts b {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: var(--black-text);
  }
  .header__mobile-contacts .phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
  }
  .header__mobile-contacts link {
    display: block;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header__grid {
    gap: 12px;
    grid-template-columns: 1fr auto auto;
  }
  .header__logo {
    display: block;
  }
  .header__logo span {
    display: none;
  }
  .header__social {
    display: none;
  }
}

.section {
  position: relative;
  padding-top: 64px;
  padding-bottom: 130px;
}
.section__header {
  margin-bottom: 40px;
}
.section__footer {
  margin-top: 50px;
}

.section--white {
  background-color: var(--white);
}

.section--black {
  background-color: var(--bg-2);
  color: var(--white);
}
.section--black .title {
  color: inherit;
}

.section--gray {
  background-color: var(--bg-3);
}

.hero-home {
  position: relative;
  padding: 0;
}
.hero-home::before {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 90%;
  left: 0;
  background-color: inherit;
  z-index: 0;
}
.hero-home .figure {
  top: 0px;
  right: 10%;
  z-index: 0;
}
.hero-home__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}
.hero-home__label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--yellow);
  margin-bottom: 10px;
}
.hero-home__slide-title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 80px;
  line-height: 120%;
  text-transform: uppercase;
}
.hero-home__text {
  margin: 0;
  display: block;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
}
.hero-home__slide-image img {
  max-width: 100%;
  margin: 0 auto;
  max-height: 644px;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero-home__social {
  position: absolute;
  left: 6%;
  top: calc(50% - 67.5px);
  z-index: 3;
}
.hero-home__social .social__list {
  grid-template-columns: repeat(1, auto);
}
.hero-home .swiper {
  width: 100%;
  min-height: 100vh;
  padding-top: 110px;
  padding-bottom: 90px;
}
@media (max-width: 1380px) {
  .hero-home__social {
    display: none;
  }
}
.hero-home .swiper-pagination {
  bottom: 15%;
  left: 12%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.items-tags__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
}
.items-tags__item {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-right: 15px;
  margin-bottom: 15px;
}

.previews {
  overflow: hidden;
}
.previews .figure {
  top: -170px;
}
.previews__list {
  position: relative;
  z-index: 2;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.contact-us {
  position: relative;
  overflow: hidden;
}
.contact-us .figure {
  top: -270px;
  right: calc(50% - 427.5px);
  opacity: 0.5;
}

.advantages__list {
  display: grid;
  gap: 70px 30px;
  grid-template-columns: repeat(3, 1fr);
}
.advantages__item {
  padding-left: 25%;
  position: relative;
}
.advantages__icon {
  position: absolute;
  left: 0;
  top: 0;
}
.advantages__title {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--black-text);
  margin-bottom: 12px;
}
.advantages__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-text);
}

.reviews {
  position: relative;
  overflow: hidden;
}
.reviews .figure {
  right: auto;
  top: -230px;
  left: 10%;
}

.partners .swiper {
  padding-bottom: 50px;
}

.decorative-map {
  position: relative;
  padding-bottom: 60px;
}
.decorative-map:after {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 90%;
  left: 0;
  background-color: inherit;
  z-index: 0;
}
.decorative-map .figure {
  opacity: 0.5;
  right: auto;
  left: -12%;
  top: 5px;
  z-index: 1;
}
.decorative-map .wrapper {
  position: relative;
  z-index: 2;
}
.decorative-map__image {
  position: relative;
  z-index: 2;
}
.decorative-map__image img {
  width: 100%;
}
.decorative-map__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #dedede;
  max-width: 360px;
  margin-top: -120px;
  position: relative;
  z-index: 2;
}

.geo-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
}
.geo-mark-1 {
  top: 23%;
  left: 18%;
}
.geo-mark-2 {
  top: 46%;
  left: 14%;
}
.geo-mark-3 {
  top: 43%;
  left: 23%;
}
.geo-mark-4 {
  top: 30%;
  left: 28%;
}
.geo-mark-5 {
  top: 36%;
  left: 58%;
}
.geo-mark-6 {
  top: 44%;
  left: 77%;
}
.geo-mark-7 {
  top: 72%;
  left: 82%;
}
.geo-mark__button {
  width: 30px;
  height: 30px;
  border: 1px solid var(--black-text);
  background-color: var(--yellow);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.geo-mark__button svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  pointer-events: none;
}
.geo-mark__details {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #1c1c1c;
  border-radius: 0 30px 30px 30px;
  padding: 20px 30px 30px;
  background-color: #fff;
  max-width: 305px;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0;
  width: 0;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 0;
  margin: 0;
}
.geo-mark__details b {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #1c1c1c;
  display: block;
  margin-bottom: 10px;
}

.geo-mark__details {
  opacity: 0;
  visibility: hidden;
  width: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.geo-mark[open] {
  z-index: 5;
}

.geo-mark[open] .geo-mark__button {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.geo-mark[open] .geo-mark__details {
  opacity: 1;
  visibility: visible;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.geo-mark--reswers .geo-mark__details {
  left: auto;
  right: 15px;
  border-radius: 30px 0 30px 30px;
}

.footer {
  position: initial;
  padding-bottom: 60px;
}
.footer__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 3fr 2fr 2fr 5fr;
  border-top: 1px solid var(--grey-text2);
  padding-top: 80px;
  position: relative;
}
.footer__logotype svg {
  display: block;
  margin-bottom: 12px;
}
.footer__copyright {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: #adadad;
  margin-bottom: 50px;
}
.footer__contacts {
  line-height: 120%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 22px;
}
.footer__contacts li {
  margin-bottom: 12px;
}
.footer__contacts b {
  color: var(--yellow);
}
.footer__contacts a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__contacts a:hover, .footer__contacts a:active, .footer__contacts a:focus {
  color: var(--yellow);
}
.footer__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
.footer__social {
  margin-bottom: 22px;
}
.footer__nav-list a {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 12px;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__nav-list a:hover, .footer__nav-list a:active, .footer__nav-list a:focus {
  color: var(--yellow);
}
.footer__sub-nav-list a {
  color: inherit;
  margin-bottom: 12px;
  display: block;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__sub-nav-list a:hover, .footer__sub-nav-list a:active, .footer__sub-nav-list a:focus {
  color: var(--yellow);
}
.footer .social__link {
  color: inherit;
}

.modal {
  position: fixed;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
  inset: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: var(--darkblue-06);
}
.modal .modal__close {
  position: absolute;
  top: 6px;
  right: 10px;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  color: var(--darkblue);
  border: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  background-color: transparent;
}
.modal .modal__close svg {
  display: block;
  width: 18px;
  height: 18px;
}
.modal .modal__close:hover, .modal .modal__close:active, .modal .modal__close:focus {
  color: var(--yellow);
}
.modal .wrapper {
  position: relative;
}
.modal__body {
  position: relative;
  width: 455px !important;
  padding: 50px 45px 55px;
  margin: 0 auto;
  background: var(--white);
  border-radius: 30px 0 0 0;
}
.modal .form__element {
  border-bottom: 1px solid var(--black-text);
}
.modal.active {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 767px) {
  .modal__body {
    width: 100% !important;
    padding: 34px 30px 30px;
  }
}
.modal .form__grid {
  grid-template-columns: repeat(1, 1fr);
}
.modal .form__footer {
  grid-column: initial;
  gap: 32px;
  grid-template-columns: 1fr;
}
.modal .form .button {
  margin-left: 0;
}
.modal .form__item::after {
  background-color: var(--darkblue-02);
}

.header-sticky .header {
  background-color: var(--white);
  color: var(--black);
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--bg);
}
.header-sticky .header .logo {
  color: var(--grey-text);
}
.header-sticky .header .logo span {
  color: var(--grey-text);
}
.header-sticky .header .link {
  color: inherit;
}
.header-sticky .header__logo span {
  color: var(--black);
}
.header-sticky .logotype__text {
  fill: var(--black-text);
}
.header-sticky.search-show .search__form {
  border: 1px solid var(--black-text);
}

.menu-open .mobile-navigation {
  left: 0;
  visibility: initial;
  opacity: initial;
  pointer-events: initial;
}
.menu-open .button-menu span {
  background-color: transparent;
}
.menu-open .button-menu span:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-open .button-menu span:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-open .header__navigation {
  left: 0;
}

.search-show .search__form {
  opacity: 1;
  pointer-events: initial;
  visibility: initial;
  width: 715px;
  background-color: var(--white);
}
@media (max-width: 767px) {
  .search-show .search__form {
    width: 290px;
  }
  .search-show .button--search {
    color: var(--black-text);
  }
}

.click {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.click:hover, .click:focus {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.click:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}/*# sourceMappingURL=main.css.map */