.header-sticky {
  .header {
    background-color: var(--white);
    color: var(--black);
    padding-top: 8px;
    padding-bottom: 8px;
    .logo {
      color: var(--grey-text);

      span {
        color: var(--grey-text);
      }
    }
  }
  .logotype__text {
    fill: var(--black-text);
  }
  &.search-show {
    .search__form {
      border: 1px solid var(--black-text);
    }
  }
}
