.article-full {
  // position: relative;
  // z-index: 2;
  background-color: var(--bg);
  &__hero {
    .title {
      font-size: 55px;
      margin-bottom: 30px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: #b5b5b5;
      // margin-bottom: 40px;
    }
  }
  &__hero.transform {
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 500px;
      position: absolute;
      top: -420px;
      left: 0;
      background-color: var(--bg-2);
      z-index: 0;
    }
  }
  &__hero--grid {
    display: grid;
    gap: 15px 30px;
    grid-template-columns: 7fr 5fr;
  }
  &__label {
    display: block;
    max-width: max-content;

    margin: 0;
    margin-right: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--yellow);
  }
  &__back-to {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    max-width: max-content;
    align-items: center;
    margin: 0;
    margin-left: auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s;
    &:hover,
    &:active,
    &:focus {
      color: var(--yellow);
    }
  }

  &__content-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  p {
    margin-bottom: 60px;
  }
  .text-big {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--black-text);
    padding: 0 32px;
  }
}
