.decorative-map {
  position: relative;
  padding-bottom: 60px;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 90%;
    left: 0;
    background-color: inherit;
    z-index: 0;
  }

  .figure {
    opacity: 0.5;
    right: auto;
    left: -12%;
    top: 5px;
    z-index: 1;
  }
  .wrapper {
    position: relative;
    z-index: 2;
  }

  &__image {
    position: relative;
    z-index: 2;
    img {
      width: 100%;
    }
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #dedede;
    max-width: 360px;
    margin-top: -120px;
    position: relative;
    z-index: 2;
  }

}

.geo-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;

  &-1 {
    top: 23%;
    left: 18%;
  }

  &-2 {
    top: 46%;
    left: 14%;
  }

  &-3 {
    top: 43%;
    left: 23%;
  }

  &-4 {
    top: 30%;
    left: 28%;
  }

  &-5 {
    top: 36%;
    left: 58%;
  }

  &-6 {
    top: 44%;
    left: 77%;
  }

  &-7 {
    top: 72%;
    left: 82%;
  }



  &__button {
    width: 30px;
    height: 30px;
    border: 1px solid var(--black-text);
    background-color: var(--yellow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // top: -15px;
    // left: -15px;
    z-index: 2;
    transform: rotate(0deg);
    transition: all 0.3s;
    cursor: pointer;

    svg {
      flex-shrink: 0;
      pointer-events: none;
    }

  }



  &__details {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #1c1c1c;
    border-radius: 0 30px 30px 30px;
    padding: 20px 30px 30px;
    background-color: #fff;
    max-width: 305px;
    z-index: 1;
    transition: all 0.3s;
    margin: 0;
    width: 0;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 0;
    margin: 0;

    // opacity: 0;
    // visibility: hidden;
    // pointer-events: none;

    b {
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      color: #1c1c1c;
      display: block;
      margin-bottom: 10px;
    }
  }




}

.geo-mark__details {
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: all 0.3s;
}

.geo-mark[open] {
  z-index: 5;
}

.geo-mark[open] .geo-mark__button {
  transform: rotate(45deg);
}

.geo-mark[open] .geo-mark__details {
  opacity: 1;
  visibility: visible;
  width: max-content;
}

.geo-mark--reswers {
  .geo-mark__details {
    left: auto;
    right: 15px;
    border-radius: 30px 0 30px 30px
  }
}
