.footer {
  position: initial;
  padding-bottom: 60px;

  &__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 3fr 2fr 2fr 5fr;
    border-top: 1px solid var(--grey-text2);
    padding-top: 80px;
    position: relative;
  }

  &__grid {
  }
  &__column {
  }
  &__logotype {
    svg {
      display: block;
      margin-bottom: 12px;
    }
  }
  &__copyright {
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #adadad;
    margin-bottom: 50px;
  }
  &__contacts {
    line-height: 120%;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 22px;

    li {
      margin-bottom: 12px;
    }

    b {
      color: var(--yellow);
    }
    a {
      transition: all 0.3s;
      &:hover,
      &:active,
      &:focus {
        color: var(--yellow);
      }
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }
  &__social {
    margin-bottom: 22px;
  }
  &__navigation {
  }
  &__nav-list {
    a {
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      color: inherit;
      margin-bottom: 12px;
      display: block;
      transition: all 0.3s;
      &:hover,
      &:active,
      &:focus {
        color: var(--yellow);
      }
    }
  }
  &__sub-nav-list {
    a {
      color: inherit;
      margin-bottom: 12px;
      display: block;
      font-weight: 400;
      font-size: 14px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      transition: all 0.3s;
      &:hover,
      &:active,
      &:focus {
        color: var(--yellow);
      }
    }
  }
  &__form {
  }

  .social__link {
    color: inherit;
  }
}
