.hero-home {
  // position: relative;
  padding: 0;
  // padding-top: 90px;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 90%;
    left: 0;
    background-color: inherit;
    z-index: 0;
  }

  &__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__label {
    display: block;
    // max-width: max-content;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--yellow);
    margin-bottom: 10px;
  }

  &__slide-title {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 80px;
    line-height: 120%;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    display: block;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
  }

  &__slide-image {
    img {
      max-width: 100%;
      margin: 0 auto;
      max-height: 644px;
      object-fit: contain;
    }
  }

  &__social {
    position: absolute;
    left: 6%;
    top: calc(50% - (135px / 2));
    z-index: 3;

    .social__list {
      grid-template-columns: repeat(1, auto);
    }
  }

  .swiper {
    width: 100%;
    min-height: 810px;
    padding-bottom: 40px;
  }

  &__pagination {
    position: relative;
    margin-top: -60px;

    .wrapper {}
  }

  .swiper-pagination {
    bottom: auto;
    left: auto;
    position: initial;
    width: max-content;
  }

  @media (max-width: 1379px) {

    &__social {
      display: none;
    }

    &__label {
      font-size: 14px;
    }

    &__slide-title {
      font-size: 60px;
    }

    &__text {
      margin-bottom: 30px;
      font-size: 20px;
    }

  }

  @media (max-width: 1023px) {
    .swiper {
      min-height: 715px;
    }

    &__grid {
      grid-template-columns: 7fr 5fr;
    }

    &__pagination {
      margin-top: -135px;
    }
  }

  @media (max-width: 767px) {
    padding-top: 50px;

    &__grid {
      grid-template-columns: 1fr;
    }

    &__label {
      font-size: 12px;
    }

    .swiper {
      min-height: 490px;
    }

    &__slide-title {
      font-size: 42px;
    }

    &__text {
      margin-bottom: 30px;
      font-size: 16px;
      max-width: 220px;
    }

    &__slide-image {
      position: absolute;
      top: 30%;
      right: -10px;
      height: 364px;
      width: auto;

      img {
        height: 100%;
        width: auto;
        object-fit: cover;
        max-height: initial;
        max-width: initial;
      }
    }


    &__pagination {
      margin-top: -10px;
    }

    &__button {
      max-width: max-content;
    }

  }
}
