.hero-inner {
  &__transfotm {
    position: relative;
    margin-top: -120px;
  }

  @media (max-width: 1379px) {
    &__transfotm {
      margin-top: -60px;
    }
  }

  @media (max-width: 767px) {
    &__transfotm {
      margin-top: initial;
    }
  }
}
