.hero-home {
  position: relative;
  // overflow: hidden;
  padding: 0;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 90%;
    left: 0;
    background-color: inherit;
    z-index: 0;
  }

  .figure {
    top: 0px;
    right: 10%;
    z-index: 0;

  }

  &__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__label {
    display: block;
    // max-width: max-content;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--yellow);
    margin-bottom: 10px;
  }

  &__slide-title {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 80px;
    line-height: 120%;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    display: block;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
  }

  &__slide-image {
    img {

      max-width: 100%;
      margin: 0 auto;
      max-height: 644px;
      object-fit: contain;
    }
  }

  &__social {
    position: absolute;
    left: 6%;
    top: calc(50% - (135px / 2));
    z-index: 3;

    .social__list {
      grid-template-columns: repeat(1, auto);
    }
  }

  .swiper {
    width: 100%;
    // height: 100%;
    min-height: 100vh;
    padding-top: 110px;
    padding-bottom: 90px;
  }

  @media (max-width: 1380px) {
    &__social {
      display: none;
    }
  }

  .swiper-pagination {
    bottom: 15%;
    left: 12%;
    width: max-content;
  }
}
