.items-tags {
  &__list {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    margin-right: -15px;
  }
  &__item {
    max-width: max-content;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
