.maximum-efficiency-slider {
  .wrapper {
    position: relative;
  }
  .swiper-button-group {
    display: grid;
  }

  .swiper-slide {
    max-width: max-content;
  }

  .swiper {
    margin-bottom: 40px;
  }
  &__item {
    max-width: 155px;

    a {
      display: block;
    }

    img {
      display: block;
      margin-bottom: 24px;
    }

    span {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      text-transform: lowercase;
      color: var(--black-text);
      text-align: center;
      padding-inline: 12px;
    }
  }
  .text {
    margin: 0;
  }
}
