.operation-principle {
  .steps-list {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1023px) {
    .steps-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 767px) {
    .steps-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
