.photo-slider {
  position: relative;
  overflow: hidden;
  padding-top: calc(90px - 32px);
  padding-bottom: calc(90px - 32px);

  .swiper {
    overflow: initial;
    padding-bottom: 55px;
    // margin-bottom: 90px;
  }
  .swiper-slide {
    max-width: max-content;
    width: 100%;
    height: 650px;

    a {
      display: block;
      max-width: max-content;
      width: 100%;
      height: 100%;

      img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (max-width: 767px) {
    .swiper-slide {
      height: 255px;
    }
  }
}
