.previews {
  overflow: hidden;

  // .figure {
  //   top: -170px;
  // }
  .swiper {
    padding-bottom: 50px;
  }
  &__list {
    position: relative;
    z-index: 2;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  .swiper-slide {
    height: auto;
  }
  .section__footer {
    margin-top: 24px;
    .button {
      max-width: 100%;
    }
  }
}

// .previews-slider {}
