.previews {
  position: relative;

  .swiper {
    padding-bottom: 8px;
  }

  &__list {
    position: relative;
    z-index: 2;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  .swiper-slide {
    height: auto;
  }

  .section__footer {
    margin-top: 24px;
  }

  &.fg::before {
    z-index: 2;
  }

  .custom-decorate {
    top: -135px;


    img {
      right: 20%;
      width: 50%;
    }
  }

  @media (max-width: 1379px) {
    .custom-decorate {
      top: -135px;


      img {
        right: -200px;
        width: initial;
      }
    }
  }

  @media (max-width: 767px) {
    .custom-decorate {
      top: -160px;


      img {
        right: -50px;
        width: initial;
      }
    }
  }
}
