.reviews {
  position: relative;
  overflow: hidden;

  .swiper {
    padding-bottom: 50px;
  }

  .swiper-button-group {
    display: block;
  }

  .figure {
    right: auto;
    top: -230px;
    left: 10%;
  }

  @media (max-width: 1440px) {

  }

  @media (max-width: 767px) {
    .swiper-button-group {
      display: grid;
    }
  }
}
