.reviews {
  .wrapper {
    position: relative;
  }

  .swiper {
    padding-bottom: 50px;
  }

  .swiper-button-group {
    display: block;
  }

  @media (max-width: 1440px) {

  }

  @media (max-width: 767px) {
    .swiper-button-group {
      display: grid;
    }
  }
}
