.section {
  position: relative;
  padding-top: 64px;
  padding-bottom: 130px;

  &__header {
    margin-bottom: 40px;
  }
  &__footer {
    margin-top: 50px;
  }
}
.section--min {
  padding-top: 16px;
  padding-bottom: 16px;
}
.section--transform {
  margin-top: -90px;
}

.section--white {
  background-color: var(--white);
}

.section--black {
  background-color: var(--bg-2);
  color: var(--white);

  .title {
    color: inherit;
  }
}

.section--gray {
  background-color: var(--bg-3);
}

@media (max-width: 767px) {
  .section {
    padding-top: 55px;
    padding-bottom: 75px;
  }
  .section__footer {
    margin-top: 20px;
  }
}
