.section {
  position: relative;
  // background: linear-gradient(135deg, #f0f0f0 25%, transparent 25%) 0 0,
  //   linear-gradient(225deg, #f0f0f0 25%, transparent 25%) 0 0,
  //   linear-gradient(315deg, transparent 75%, #f0f0f0 75%) 0 0,
  //   linear-gradient(45deg, transparent 75%, #f0f0f0 75%) 0 0;
  // background-repeat: no-repeat;
  // background-size: cover;
  padding-top: 64px;
  padding-bottom: 130px;

  &__header {
    margin-bottom: 40px;
  }
  &__footer {
    margin-top: 50px;
  }
}

.section--white {
  background-color: var(--white);
}

.section--black {
  background-color: var(--bg-2);
  color: var(--white);

  .title {
    color: inherit;
  }
}

.section--gray {
  background-color: var(--bg-3);
}

// .section---before-footer {
//   position: relative;
//   z-index: 0;
//     &::before {
//       content: "";
//       display: block;
//       width: 100%;
//       height: 500px;
//       position: absolute;
//       top: 99%;
//       left: 0;
//       background-color: var(--bg-2);
//       z-index: 0;
//     }
// }
