:root {
  --font-family: "Golos Text", sans-serif;
  --second-family: "Golos Text", sans-serif;

  --white: #fff;
  --black-text: #434242;
  --grey-text: #5e5e5e;
  --black: #161a1d;
  --hover-menu: #868686;
  --yellow: #fed337;
  --yellow2: #ffc800;
  --bg: #f0f0f0;
  --line: #dddddd;

  --grey-text: #606060;
  --grey-text2: #adadad;
  --black-text: #282828;
}

// // Глобальные переменные проекта
// :root {
//   --font-family: "Rubik", sans-serif;
//   --second-family: "Rubik", sans-serif;

//   --swiper-theme-color: #0ec45d;

//   --white: #fff;
//   --white-04: rgba(255, 255, 255, 0.4);
//   --white-08: rgba(255, 255, 255, 0.8);
//   --green: #1b7042;
//   --darkgreenblue: #295c5f;
//   --darkgreenblue-mod: #004B34;
//   --lightgreen: #0ec45d;
//   --bej: #fcebcd;
//   --dark: #263031;
//   --dark-06: rgba(38, 48, 49, 0.6);
//   --dark-08: rgba(38, 48, 49, 0.8);
//   --mediumgreen: #00533a;
//   --mediumgreen-2: #125f48;
//   --color1: #99B346;

//   --yellow: #fbbc05;

//   --white-mod: rgba(255, 255, 255, 0.8);
//   --white-mod2: rgba(255, 255, 255, 0.2);
//   --dark-mod: rgba(38, 48, 49, 0.8);

//   // для анимации прогресс бара в кнопке слайдера
//   --progress: 1;
// }
