:root {
  --font-family: "Golos Text", sans-serif;
  --second-family: "Golos Text", sans-serif;

  --white: #fff;
  --black-text: #434242;
  --grey-text: #5e5e5e;
  --black: #161a1d;
  --hover-menu: #868686;
  --yellow: #fed337;
  --yellow2: #ffc800;
  --yellow3: #d3ae5d;
  --yellow4: #bc9d2e;
  --bg: #f0f0f0;
  --bg-2: #1c1c1c;
  --line: #dddddd;

  --grey-text: #606060;
  --grey-text2: #adadad;
  --black-text: #282828;

  --swiper-theme-color: #fed337;
  --swiper-pagination-bullet-inactive-color: #dddddd;
}
