.articles-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}



.articles-list--mod {
  grid-template-columns: repeat(4, 1fr);
}
.articles-list--mod-2 {
  grid-template-columns: repeat(2, 1fr);
}
.articles-list--mod-3 {
  grid-template-columns: repeat(1, 1fr);
}



.catalog-preview-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.catalog-preview-group--full {
  grid-column: span 2;
}
