.articles-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}



.articles-list--mod {
  grid-template-columns: repeat(4, 1fr);
}
.articles-list--mod-2 {
  grid-template-columns: repeat(2, 1fr);
}
.articles-list--mod-3 {
  grid-template-columns: repeat(1, 1fr);
}
