.articles-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.article-preview {
  background-color: #fff;
  border-radius: 30px 0 0 0;
  overflow: hidden;
  &__details {
    padding: 32px 34px;
  }
  &__title {
    display: block;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    color: var(--black-text);
  }
  &__lead {
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--grey-text);
    margin-bottom: 30px;
  }
  &__date {
    display: grid;
    gap: 12px;
    grid-template-columns: auto 1fr;
  }
}

.articles-list--mod {
  grid-template-columns: repeat(4, 1fr);
}
.articles-list--mod-2 {
  grid-template-columns: repeat(2, 1fr);
}
.articles-list--mod-3 {
  grid-template-columns: repeat(1, 1fr);
}

.article-preview--mod {
  background-color: transparent;
  .article-preview__image {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 285px;
  }
  .article-preview__details {
    padding-inline: 0;
  }
  .article-preview__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    color: var(--black-text);
    margin-bottom: 10px;
  }
  .article-preview__lead {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey-text);
  }
}

.catalog-preview-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.catalog-preview-group--full {
  grid-column: span 2;
}

.contacts-card {
  background-color: #fff;
  padding: 45px 55px 55px;
  border-radius: 30px 0 0 0;
  position: relative;
  padding-right: calc(205px + 10px);
  &__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  &__name {
    display: block;
    margin: 0;
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: var(--black-text);
  }
  &__direction {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--grey-text);
    max-width: 205px;
  }
  &__list {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--black-text);
    li {
      margin-bottom: 16px;
    }
    b {
      display: block;
      margin-bottom: 6px;
    }
    a {
      font-weight: 700;
    }
  }
  &__photo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 205px;
    height: 262px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.contacts-grid {
  display: grid;
  gap: 16px 30px;
  grid-template-columns: 5fr 7fr;
  align-items: flex-start;

  b {
    display: block;
  }
}

.contacts-simple {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--grey-text);
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
