.breadcrumbs {
  margin-bottom: 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    position: relative;
    display: flex;
    align-items: center;
    &:after {
      content: '/';
      padding-inline: 10px;
    }
  }
  li:last-of-type {
    opacity: 0.7;
    &:after {
      display: none;
    }
  }
}
