.custom-review {
  &__slider {
    margin-bottom: 40px;
    position: relative;
  }
  &__item {
    background-color: var(--white);
    border-radius: 30px 0 0 0;
    padding: 20px 40px 30px;
    padding-left: 65px;
    min-height: 370px;
  }
  &__grid {
    display: grid;
    gap: 45px 30px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  &__text {
    grid-column: span 2;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--grey-text);
    position: relative;
    z-index: 2;
    &::before {
      content: "";
      display: block;
      width: 117px;
      height: 88px;
      position: absolute;
      top: -30px;
      left: -30px;
      background-image: url(../svg/cite.svg);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 0;
    }
    p {
      position: relative;
      z-index: 2;
    }
  }
  &__photo {
    img {
      display: block;
    }
    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: var(--grey-text);
    }
  }

  &__item--user &__photo {
    display: grid;
    gap: 17px 30px;
    align-items: center;
    grid-template-columns: 100px 1fr;
  }
  &__contacts {
    display: grid;
    gap: 12px;
    grid-template-columns: auto 1fr;
    max-width: max-content;
    border-radius: 40px 30px 30px 0;
    padding: 7px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey-text);
    background-color: #f0f0f0;
    height: 33px;
  }
  &__mark {
    display: grid;
    gap: 12px;
    grid-template-columns: auto 1fr;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey-text);
    margin-bottom: 90px;
  }
}
