

.fg {
  position: relative;
  padding-top: var(--fg-size);
  padding-bottom: var(--fg-size);
  // max-width: 100%;
  // overflow-x: hidden;
}

/* Декоративные блоки для верхней секции */
.fg-top-white::before,
.fg-top-gray::before,
.fg-top-black::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;

  right: -1px;
  top: -1px;

  // border-top: var(--fg-size) solid;
  border-left: 101vw solid transparent;
}

.fg-top-white::before {
  border-top: var(--fg-size) solid var(--white);
}

.fg-top-gray::before {
  border-top: var(--fg-size) solid var(--bg-3);
}

.fg-top-black::before {
  border-top: var(--fg-size) solid var(--bg-2);
}

/* Декоративные блоки для нижней секции */
.fg-bottom-white::after,
.fg-bottom-gray::after,
.fg-bottom-black::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;

  left: 0;
  bottom: -1px;

  border-top: var(--fg-size) solid transparent;
  // border-left: 100vw solid;
}

.fg-bottom-white::after {
  border-left: 100vw solid var(--white);
}

.fg-bottom-gray::after {
  border-left: 100vw solid var(--bg-3);
}

.fg-bottom-black::after {
  border-left: 100vw solid var(--bg-2);
}
