.fg {
  position: relative;
  // max-width: 100%;
  // overflow-x: hidden;
}

/* Декоративные блоки для верхней секции */
.fg-top-white,
.fg-top-gray,
.fg-top-black {
  padding-top: var(--fg-size);
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;

    right: -1px;
    top: -1px;

    // border-top: var(--fg-size) solid;
    border-left: 101vw solid transparent;
  }
}

.fg-top-white::before {
  border-top: var(--fg-size) solid var(--white);
}

.fg-top-gray::before {
  border-top: var(--fg-size) solid var(--bg-3);
}

.fg-top-black::before {
  border-top: var(--fg-size) solid var(--bg-2);
}

/* Декоративные блоки для нижней секции */
.fg-bottom-white,
.fg-bottom-gray,
.fg-bottom-black {
  padding-bottom: var(--fg-size);

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;

    left: 0;
    bottom: -1px;

    border-top: var(--fg-size) solid transparent;
    // border-left: 100vw solid;
  }
}

.fg-bottom-white::after {
  border-left: 100vw solid var(--white);
}

.fg-bottom-gray::after {
  border-left: 100vw solid var(--bg-3);
}

.fg-bottom-black::after {
  border-left: 100vw solid var(--bg-2);
}
