.figure {
  position: absolute;
  display: block;
  width: 855px;
  height: 1088px;
  top: 0px;
  right: 10%;
  background-image: url("../svg/hero-home-bg.svg");
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 0;
  pointer-events: none;
  &--mod {
    opacity: 0.1;
  }
}
