.item-tag {
  position: relative;

  &__header {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 1px solid var(--black-text);
    border-radius: 100px 100px 100px 0;
    width: 100%;
    height: 70px;
    width: 100%;
    padding: 0 23px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
  }

  &__name {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: var(--black-text);
    display: block;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
  }

  &__text {}

  &__icon {
    position: relative;
    z-index: 2;
    color: var(--black-text);
    transition: all 0.3s;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
    opacity: 0;
    z-index: 0;
  }

  &:hover,
  &:active,
  &:focus {
    .item-tag__header {
      border: 1px solid transparent;
    }
    .item-tag__image {
      opacity: 1;
    }

    .item-tag__name {
      color: var(--white);
    }

    .item-tag__icon {
      color: var(--white);
    }
  }
}
