.logo {
  color: var(--white);
  transition: color 0.3s;
  display: grid;
  gap: 24px;
  grid-template-columns: auto 1fr;
  align-items: center;

  svg {
    display: block;
    width: 167px;
    height: 42px;
  }
  span {
    font-size: 12px;
    color: var(--grey-text2);
    display: block;
  }
}
