.main-nav {
  &__header {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, auto);
  }

  &__item {
    position: relative;
    max-width: max-content;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--yellow);
      opacity: 0;
      transition: width 0.3s, opacity 0.3s;
    }
  }

  &__link {
    padding: 16px 2px;
    display: block;
    transition: color 0.3s;

    &:has(svg) {
      display: grid;
      gap: 20px;
      align-items: center;
      grid-template-columns: 1fr auto;
      max-width: max-content;
    }

    svg {
      transition: transform 0.3s;
      width: 10px;
      height: 6px;
      display: block;
    }
  }

  &__sub-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 150%;
    left: 0;
    width: 295px;
    background-color: var(--white);
    color: var(--grey-text);
    border-radius: 0 0 30px 0;
    overflow: hidden;
    border: 1px solid var(--line);

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s;
  }

  &__sub-link {
    font-weight: 400;
    font-size: 14px;
    color: inherit;
    padding: 12px 25px;
    display: block;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: var(--bg);
      color: var(--black);
    }
  }

  &__sub-item:not(:last-of-type) &__sub-link {
    border-bottom: 1px solid var(--line);
  }

  @media (min-width: 1381px) {

    // Наведение
    &__item:hover {
      &:after {
        opacity: 1;
        width: 100%;
      }

      .main-nav__link {
        color: var(--yellow);
      }

      .main-nav__link svg {
        transform: rotate(-180deg);
      }

      .main-nav__sub-list {
        top: 100%;
        opacity: 1;
        pointer-events: initial;
        visibility: initial;
      }
    }
  }

  &__button {
    display: none;
  }



  @media (max-width: 1380px) {
    padding: 0;

    &__header {
      display: grid;
      gap: 16px;
      grid-template-columns: 1fr auto;
      padding: 10px 25px;
      padding-right: 0;
      position: sticky;
      top: 0;
      background-color: #fff;
      z-index: 2;
      width: 100%;
      align-items: center;
    }

    &__title {
      margin: 0;
      font-weight: 600;
      font-size: 35px;

    }

    &__close {
      border: none;
      background-color: transparent;
      width: 62px;
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      cursor: pointer;
    }

    &__list {
      grid-template-columns: 1fr;
      gap: 0;
      z-index: 1;
      position: relative;
    }

    &__sub-list {
      display: none;
      position: initial;
      pointer-events: initial;
      visibility: initial;
      opacity: 1;
      border: none;
      border-radius: initial;
      max-width: 100%;
      width: 100%;
    }

    &__sub-link {
      border-bottom: none !important;
      border-top: 1px solid #ddd;
      font-weight: 500;
      font-size: 14px;
      color: var(--black-text);
      min-height: 60px;
      padding: 0;
      padding-left: 50px;
      padding-right: 25px;
      position: relative;
      display: flex;
      align-items: center;

      &:after {
        content: "";
        display: block;
        width: 10px;
        height: 2px;
        background-color: var(--yellow);
        position: absolute;
        left: 25px;
        top: calc(50% - 1px);
      }
    }

    &__item {
      max-width: 100%;
      width: 100%;
      border-top: 1px solid #ddd;

      &.isActive {
        .main-nav__link {
          background: #f0f0f0;
        }

        .main-nav__sub-list {
          display: block;
        }
      }
    }

    &__link {
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--black-text);
      padding: 0;
      height: 60px;
      width: 100%;
      max-width: 100% !important;
      display: flex;
      align-items: center;
      padding-inline: 25px;
      transition: all 0.3s;

      svg {
        display: none;
      }

      &:has(button) {
        padding-right: 0;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 62px;
      margin-top: -2px;
      margin-bottom: -2px;
      height: 62px;
      border: 1px solid #ddd;
      background-color: transparent;
      color: var(--black-text);
      z-index: 2;
      padding: 0;

      svg {
        display: block;
        flex-shrink: 0;
        width: 18px;
        height: auto;
        transition: all 0.3s;

      }

      &.isActive {
        svg {
          transform: rotate(180deg);
        }
      }
    }

  }
}
