.partner-card {
}

.partner-card__logo {
  margin: auto;
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-card__name {
}

@media (max-width: 1023px) {
  .partner-card__logo {
    width: 85px;
    height: 85px;
  }
}
