.photo-slider {
  margin-bottom: 90px;
  .swiper {
    overflow: initial;
    padding-bottom: 55px;
  }
  .swiper-slide {
    max-width: max-content;
    width: 100%;

    a {
      display: block;
      max-width: max-content;
      width: 100%;
    }
  }
}
