.preview-card {
  background-color: #fff;
  color: var(--black-text);
  border-radius: 30px 0 0 0;
  margin-top: 170px;
  padding: 35px 40px;
  display: flex;
  flex-direction: column;

  // height: 495px;
  &__photo {
    display: block;
    position: relative;
    margin-top: -170px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;

    img {
      display: block;
      margin-top: auto;
    }
  }

  &__labels-list {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 10px;

  }

  &__label {
    border-radius: 20px 30px 30px 0;
    background: var(--black-text);
    color: var(--white);
    height: 35px;
    display: grid;
    gap: 12px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    grid-template-columns: auto 1fr;
    padding: 0 16px;
    max-width: max-content;
  }

  &__name {
    display: block;
    margin: 0;
    line-height: 1.1;
    font-weight: 600;
    font-size: 30px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 6px;
    display: block;

    font-weight: 500;
    font-size: 20px;
  }

  &__text {
    color: var(--grey-text);
    font-size: 14px;
    flex-grow: 2;
  }

  &__list {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--grey-text);
    flex-grow: 2;

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    b {
      display: block;
      margin-bottom: 6px;
    }

    li {
      max-width: max-content;
    }
  }
  .button {
    margin-top: auto;
    max-width: 100%;
  }
}
