.review-card {
  background-color: #fff;
  padding: 55px 65px;
  border-radius: 30px 0 0 0;

  &__grid {
    display: grid;
    gap: 60px;
    grid-template-columns: 3fr 2fr;
  }

  &__media {}

  &__logo {
    display: block;
    margin-bottom: 45px;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey-text);
    margin-bottom: 16px;
  }

  &__button {}

}
