.review-card {
  background-color: #fff;
  padding: 55px 65px;
  border-radius: 30px 0 0 0;

  &__grid {
    display: grid;
    gap: 60px;
    grid-template-columns: 3fr 2fr;
  }

  &__media {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 45px;
  }
  &__title {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
    line-height: 110%;
    color: var(--black-text);
  }

  &__text {
    margin: 0;
    color: var(--grey-text);
    margin-bottom: 16px;
    position: relative;
    p {
      position: relative;
      margin-top: 0;
    }

    &::before {
      content: "";
      display: block;
      width: 117px;
      height: 88px;
      position: absolute;
      top: -30px;
      left: -30px;
      background-image: url(../svg/cite.svg);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 0;
    }
  }

}

.review-card--mod {
  padding: 36px 44px;
  .review-card__text::before {
    display: none;
  }
}

@media (max-width: 1023px) {
  .review-card {
    padding: 45px 40px;
  }
  .review-card__grid {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr;
  }
  .review-card__item--right {
    display: grid;
    gap: 10px 30px;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
  }

  .review-card__text {
    margin-bottom: 0;
  }
  .review-card__text::before {
    top: -30px;
    left: -30px;
  }
  .review-card__logo {
    margin: 0;
  }

  .review-card--mod {
    .review-card__item--right {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 30px;
    }
    .review-card__button {
      grid-column-start: 2;
    }
    .review-card__title {
      font-size: 20px;
    }
  }
}

@media (max-width: 767px) {
  .review-card {
    padding: 25px 20px;
  }
  .review-card__logo {
    max-width: 130px;
    margin-bottom: 12px;
  }
  .review-card__item--right {
    gap: 10px;
    grid-template-columns: 1fr;
  }
  .review-card__grid {
    gap: 30px;
  }
  .review-card__text::before {
    scale: 0.6;
    left: initial;
    right: -30px;
  }

  .review-card--mod {
    .review-card__item--right {
      grid-template-columns: repeat(1, 1fr);
    }
    .review-card__button {
      grid-column-start: initial;
    }
  }
  .button {
    max-width: 100%;
  }
}
