.search {
  position: relative;

  // .button::before {
  //   background-color: transparent;
  // }

  &__form {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    border-radius: 60px;
    background-color: var(--yellow);
    z-index: 2;
    transition: all 0.6s;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    input {
      height: 45px;
      width: 100%;
      max-width: 100%;
      border-radius: 60px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      color: var(--grey-text);
      padding: 10px 35px;
      border: none;
      outline: none;
    }

    .button::before {
      background-color: transparent;
    }
  }
  &__grid {
    display: grid;
    gap: 12;
    grid-template-columns: 1fr 45px;
  }
}
