.steps-list {
  display: grid;
  gap: 60px 30px;
  grid-template-columns: repeat(2, 1fr);

  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--grey-text);

  span {
    font-weight: 600;
    font-size: 45px;
    line-height: 100%;
    color: var(--yellow);
  }
  li {
    display: grid;
    gap: 12px;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
  }
  p {
    margin: 0;
  }

  @media (max-width: 1023px) {
    font-size: 14px;
    gap: 30px 20px;
  }

  @media (max-width: 767px) {
    li {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }
}
