.swiper-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 14px;
  transition: all 0.3s;

  &:hover,
  &:active,
  &:focus {
    scale: 1.1;
    background-color: var(--yellow);
  }

  &--mod {
    background-color: var(--bg);

    .swiper-button-next:after,
    .swiper-button-prev:after {
      // color: var(--black-text);
      // font-weight: 700;
    }
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--black-text);
  font-weight: 700;
}
