.title {
  margin-top: 0;
  font-style: normal;
  font-family: var(--font-family);
  position: relative;
  font-weight: 600;
  font-size: 55px;
  line-height: 1;
  color: var(--black-text);
  & + * {
    margin-top: 40px;
  }

  @media (max-width: 1023px) {
    font-size: 45px;
    & + * {
      margin-top: 30px;
    }
  }

  @media (max-width: 767px) {
    font-size: 35px;
  }
}
