.page-home {
  .footer {
    position: relative;
    // padding-bottom: 16px;
    padding-top: 16px;
    &::before {
      display: none;
    }
  }

  @media (max-width:767px) {
    .footer {
      padding-top: calc(var(--fg-size) + 32px);
      &::before {
        display: block;
      }
    }
  }
}

.page-inner {

  .header {
    background-color: var(--bg-2);
    color: var(--white);
  }

  @media (max-width:1379px) {
    .main {
      &::before {
        height: 245px;
      }
    }
  }

  @media (max-width:767px) {
    .main {
      &::before {
        height: 135px;
      }

    }
  }
}

.page-blog {

}

.page-about {
  .hero-inner {
    background-color: var(--bg-2);
    color: var(--white);
    .title {
      color: inherit;
    }
  }
}

.page-custom {
  .main {
    padding-top: 0 !important;
  }
}
